<%= react_component("Header", {homePath: root_path, loginPath: login_path, isColored: true}) %>
<section class="login-banner">
  <div class="login-banner-content">
    <h2 class="login-banner-title">
      Join Kazoku
    </h2>
    <h5 class="login-banner-subtitle">
      Fun with family awaits.
    </h5>
  </div>
</section>
<section class="login-section">
  <%= react_component("LoginForm", {loginPath: person_session_path, signupPath: people_path}) %>
</section>
