<%= react_component("Header", {currentPerson: current_person, isColored: true}) %>
<section class="general-banner">
  <%= react_component("Profile", {currentPerson: current_person, person: @person}) %>
</section>
