<%= react_component("Header", {currentPerson: current_person, isColored: true}) %>
<section class="person-banner">
  <%= react_component("Person", {currentPerson: current_person, person: @person}) %>
</section>
