<%= react_component("Header", {currentUser: current_user, isColored: false}) %>
<section class="general-banner">
  <div class="general-banner-content">
    <h2 class="general-banner-title">
      Families on Kazoku
    </h2>
    <h5 class="general-banner-subtitle">
      Do you belong to one of these?
    </h5>
  </div>
</section>
<section class="general-section">
  <%= react_component("FamiliesList", {currentPerson: current_person, families: @families}) %>
</section>
