<%= react_component("Header", {currentPerson: current_person, isColored: true}) %>
<section class="general-banner">
  <div class="general-banner-content">
    <h2 class="general-banner-title">
      Create/Join a Family
    </h2>
    <h5 class="general-banner-subtitle">
      Families create and attend events together.
    </h5>
  </div>
</section>
<section class="general-section">
  <%= react_component("FamilyForm", {currentPerson: current_person}) %>
</section>
