<%= react_component("Header", {currentUser: current_user, isColored: true}) %>
<section class="general-banner">
  <div class="general-banner-content">
    <h2 class="general-banner-title">
      People on Kazoku
    </h2>
    <h5 class="general-banner-subtitle">
      You could be here too!
    </h5>
  </div>
</section>
<section class="general-section">
  <%= react_component("UsersList", {users: @users}) %>
</section>
