<%= react_component("Header", {currentUser: current_user, isColored: false}) %>
<section class="general-banner">
  <div class="general-banner-content">
    <h2 class="general-banner-title">
      Events on Kazoku
    </h2>
    <h5 class="general-banner-subtitle">
      Make an event for your family.
    </h5>
  </div>
</section>
<section class="general-section">

</section>
