<!DOCTYPE html>
<html>
  <head>
    <title>kazoku</title>
  </head>

  <body>
    <%= react_component("PeopleList", {}) %>
<!--     props is either an object that responds to #to_json or an already-stringified JSON object (eg, made with Jbuilder, see note below) -->
  </body>
</html>
