<%= react_component("Header", {homePath: root_path, loginPath: new_person_path, isColored: true}) %>
<div class="login-banner">
  <div class="login-banner-content">
    <h2 class="login-banner-title">
      Join Kazoku
    </h2>
    <h5 class="login-banner-subtitle">
      Fun with family awaits.
    </h5>
  </div>
</div>
