<div class="header">
  <span class="header-brand">
    Kazoku
  </span>
</div>
<div class="home-banner">
  <div class="home-banner-fade"></div>
  <img class="home-banner-image" src="http://www.urbanalli.com/blog/wp-content/uploads/2012/10/donovan13.jpg"/>
  <div class="home-banner-content">
    <span class="home-banner-title">
      Kazoku
    </span>
  </div>
</div>
