<div class="header">
  <span class="header-brand">
    Kazoku
  </span>
</div>
<div class="home-banner">
  <div class="vertical-anchor"></div>
  <img class="home-banner-image" src="http://upload.wikimedia.org/wikipedia/commons/6/66/FamiliaOjeda.JPG"/>
</div>
