<div class="header">
  <span class="header-brand">
    Kazoku
  </span>
</div>
<div class="home-banner">
  <div class="home-banner-fade"></div>
  <img class="home-banner-image" src="http://www.urbanalli.com/blog/wp-content/uploads/2012/10/donovan13.jpg"/>
  <div class="vertical-anchor"></div>
  <div class="home-banner-content">
    <h1 class="home-banner-title">
      KAZOKU
    </h1>
    <h5 class="home-banner-subtitle">
      Stay up to date with your family and plan familial events.
    </h5>
  </div>
</div>
