<%= react_component("Header", {currentPerson: current_person, isColored: false}) %>
<section class="home-banner">
  <div class="home-banner-fade"></div>
  <img class="home-banner-image" src="http://www.urbanalli.com/blog/wp-content/uploads/2012/10/donovan13.jpg"/>
  <div class="vertical-anchor"></div>
  <div class="home-banner-content">
    <h1 class="home-banner-title">
      KAZOKU
    </h1>
    <h5 class="home-banner-subtitle">
      Stay up to date with your family and plan familial events.
    </h5>
  </div>
</section>
<section class="general-section">
  <div class="home-actions-headings">
    <h2 class="home-actions-heading">
      Family First
    </h2>
    <h5 class="home-actions-heading">
      Share experiences with those who matter to you.
    </h5>
  </div>
  <div class="home-actions">
    <div class="home-action">
      <img class="home-action-image" src="http://www.ruinart.com/img/content/articles/13_Portrait%20HVDS%20-%20HD.jpg"/>
      <%= react_component("Clickable", {path: people_path, style: "home-action-clickable", content: "People"}) %>
    </div>
    <div class="home-action">
      <img class="home-action-image" src="http://www.vlblog.net/blogimage/anwan01.jpg"/>
      <%= react_component("Clickable", {path: families_path, style: "home-action-clickable", content: "Families"}) %>
    </div>
  </div>
</section>
