<%= react_component("Header", {currentPerson: current_person, isColored: true}) %>
<section class="general-banner">
  <div class="general-banner-content">
    <h2 class="general-banner-title">
      Enter Kazoku
    </h2>
    <h5 class="general-banner-subtitle">
      Fun with family awaits.
    </h5>
  </div>
</section>
<section class="login-section">
  <%= react_component("LoginForm", {}) %>
</section>
