@import "colors";

.profile-banner-family {
  position: relative;
  padding-top: 6px;
}

.profile-banner-label {
  display: inline-block;
  position: relative;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 24px;
}

.profile-banner-subtitle {
  display: inline-block;
  position: relative;
  padding-left: 6px;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 24px;

  &:hover {
    text-decoration: underline;
  }
}

.profile-banner-image {
  position: relative;
  width: 312px;
  height: 312px;
  border: 6px solid;
  border-color: $white;
  border-radius: 156px;
  box-shadow: 0 0 1px $gray;
}

.user-search-input {
  display: inline-block;
  position: relative;
  width: 356px;
  padding: 6px;
}

.user-block {
  position: relative;
  margin-top: 36px;

  &:first-child {
    margin-top: 0;
  }
}

.user-block-name {
  display: block;
  position: relative;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 48px;

  &:hover {
    text-decoration: underline;
  }
}

.user-block-image {
  position: relative;
  width: 172px;
  height: 172px;
  border: 4px solid;
  border-color: $white;
  border-radius: 86px;
  box-shadow: 0 0 1px $gray;

  &:hover {
    cursor: pointer;
  }
}
