@import "colors";

.header {
  position: absolute;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 48px;
  text-align: right;
}

.header-colored {
  position: relative;
  border-bottom: 1px solid;
  border-color: $border-gray;
  background-color: $white;
}

.header-left {
  display: inline-block;
  position: "relative";
  width: 50%;
  height: 100%;
  text-align: left;
}

.header-right {
  display: inline-block;
  position: "relative";
  width: 50%;
  height: 100%;
  text-align: right;
}

.header-brand {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin-left: 12px;
  color: $white;
  font-size: 18px;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.header-brand-colored {
  color: $coral;
}
