@import "colors";

body {
  position: "relative";
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $background-gray;
}

h1 {
  position: "relative";
}

h2 {
  position: "relative";
}

h3 {
  position: "relative";
}

h4 {
  position: "relative";
}

h5 {
  position: "relative";
}
