@import "colors";

body {
  position: "relative";
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: $background-gray;
  text-rendering: optimizelegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: "relative";
  margin: 0;
  color: $ash;
  font-family: "Montserrat";
  font-weight: 400;
  letter-spacing: 2px;
}

h1 {
  font-size: 64px;
  letter-spacing: 4px;
  line-height: 72px;
}

h2 {
  font-size: 36px;
  line-height: 48px;
}

h3 {
  font-size: 30px;
  line-height: 36px;
}

h4 {
  font-size: 24px;
  line-height: 30px;
}

h5 {
  font-size: 18px;
  line-height: 24px;
}

h6 {
  font-size: 14px;
  line-height: 28px;
}

a,
li,
span,
input {
  color: $ash;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 400;
  text-decoration: none;
}

input[type=text],
input[type=password],
textarea {
  border: 1px solid;
  border-color: $input-gray;
  outline: none;
  box-sizing: border-box;
  -webkit-transition: all 0.30s ease-in-out;
  -moz-transition: all 0.30s ease-in-out;
  -ms-transition: all 0.30s ease-in-out;
  -o-transition: all 0.30s ease-in-out;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
  border: 1px solid $coral;
  box-shadow: 0 0 2px $coral;
}

.general-button {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding: 6px 12px;
  margin-right: 12px;
  color: $white;
  border-bottom: 2px solid;
  border-color: $red;
  border-radius: 2px;
  background-color: $coral;
  font-size: 14px;

  &:hover {
    background-color: $pink;
    cursor: pointer;
  }
}

.vertical-anchor {
  content: '';
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 100%;
}
