@import "colors";

.home-banner {
  position: relative;
  width: 100%;
  height: 724px;
  text-align: center;
  overflow: hidden;
}

.home-banner-fade {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 90, 95, 0.2);
}

.home-banner-image {
  position: absolute;
  z-index: 1;
  top: -144px;
  left: 0;
  width: 100%;
}

.home-banner-content {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 3;
  padding: 36px;
  cursor: default;
}

.home-banner-title {
  position: relative;
  color: $white;
}

.home-banner-subtitle {
  position: relative;
  width: 412px;
  color: $white;
  font-weight: 400;
  font-family: "Montserrat";
  line-height: 24px;
}

.home-section {
  position: relative;
  width: 100%;
  padding: 48px 0;
}

.home-actions {
  position: relative;
  padding: 48px 0;
  margin: auto;
  text-align: center;
}

.home-actions-headings {
  position: relative;
  width: 712px;
  margin: auto;
  text-align: center;
}

.home-actions-heading {
  position: relative;
}

.home-action {
  display: inline-block;
  position: relative;
  padding: 0 36px;
}

.home-action-image {
  position: relative;
  width: 456px;
  height: 300px;
  margin-bottom: 12px;
}

.home-action-clickable {
  position: relative;
  font-size: 36px;
  letter-spacing: 2px;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.login-banner {
  position: relative;
  width: 100%;
  background-color: $white;
}

.login-banner-content {
  position: relative;
  width: 356px;
  padding: 64px;
  margin: auto;
  text-align: center;
}

.login-banner-title {
  position: relative;
}

.login-banner-subtitle {
  position: relative;
}

.login-section {
  position: relative;
  width: 100%;
  padding: 48px 0;
}

.login-form {
  position: relative;
  width: 356px;
  padding: 36px;
  margin: auto;
  border: 1px solid;
  border-color: $border-gray;
  border-radius: 2px;
  background-color: $white;
  text-align: center;
}

.login-form-title {
  display: inline-block;
  position: relative;
  margin-bottom: 24px;
}

.login-form-input {
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 6px;
  margin-bottom: 24px;
}

.login-form-submit {
  display: inline-block;
  position: relative;
  padding: 6px 12px;
  margin: auto;
  border: 1px solid;
  border-color: $ash;
  border-radius: 2px;

  &:hover {
    color: $coral;
    border-color: $coral;
    cursor: pointer;
  }
}

.login-form-section {
  position: relative;
  margin-top: 24px;
}

.login-form-label {
  position: relative;
  padding-right: 6px;
}

.login-form-toggle {
  display: inline-block;
  position: relative;

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
