// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header {
  position: relative;
  width: 100%;
  height: 48px;
  background-color: #66CCCC;
}

.header-brand {
  position: relative;
  color: #FFFFFF;
}
