// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "colors";

.header {
  position: relative;
  width: 100%;
  height: 48px;
  border-bottom: 1px solid;
  border-color: $border-gray;
  background-color: $white;
}

.header-brand {
  position: relative;
}

.home-banner {
  position: relative;
  width: 100%;
  height: 724px;
  text-align: center;
  overflow: hidden;
}

.home-banner-fade {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.125;
}

.home-banner-image {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
}

.home-banner-content {
  position: relative;
  z-index: 3;
}

.home-banner-title {
  position: relative;
  color: $white;
  font-family: "Questrial";
}

.vertical-anchor {
  content: '';
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 100%;
}
